<div class="demo-banner">
  <p>⚠️ Please note: This is a demo system and does not reflect live data or final functionality.</p>
</div>

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-9  col-8">
                <div class="logodv">
                    <img src="images/logo.svg">
                </div>
     
               
            </div> 

            <div class="col-md-7 col-sm-3 col-4"  *ngIf="currentPath === ''">
                <div class="continfo w-100">
                    <ul>
                        <li>Contact Us: info&#64;gmail.com</li>
                        <li>+123-456-789012</li>
                    </ul>
                   
                <div class="loginbtn " > 
                    <button (click)="bookTicket()"  class="btn btn-primary">Book Now</button>
                </div>
                 </div>
            </div>

            <div class="col-md-3 col-sm-3 col-4"  *ngIf="currentPath === 'dashboard'">
                <div class="loginbtn w-100"> 
                    <button (click)="confirmLogout()"  class="btn btn-primary">Logout</button>
                </div>
            </div>
        </div>
    </div>
</header>
