<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footerleft text-center w-100">
                    <p>Copyright &copy; Axiom Digital Pvt. Ltd. All Rights Reserved.</p>
                    <p>The content and images used on this site are copyright protected and copyrights vests with the respective owners. The usage of the content and images on this website is intended to promote the works and no endorsement of the artist shall be implied. Unauthorized use is prohibited and punishable by law.</p>
                 </div>

                <div class="poweredtext text-center w-100">
                    <p>Powered by <a href="https://webxcellence.co.in/" target="_blank"><img src="../images/logo.svg"></a></p>
                </div><!--poweredtext-->
            </div>
        </div><!--row-->
    </div><!--container-->
</footer>



