<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footerleft text-center w-100">
                    <p>Copyright &copy; webxcellence.co.in. All Rights Reserved.</p>
                 </div>

                <!-- <div class="poweredtext text-center w-100">
                    <p>Powered by <a href="https://webxcellence.co.in/" target="_blank"><img src="../images/logo.svg"></a></p>
                </div> -->
            </div>
        </div><!--row-->
    </div><!--container-->
</footer>



