

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="logodv">
                    <!-- <h4>Logo</h4> -->
                </div>
            </div> 

            <div class="col-md-8" >
                <div class="menubx w-100">
                    <div class="menus">
                        <ul>
                            <li><a (click)="dashboard()">Dashboard</a></li>
                            <li><a (click)="addPromotionCode()">Add Promotion Code</a></li>
                             <li><a (click)="promotionCodeList()">Promotion Code Listing</a></li>
                        </ul>
                    </div>
                     <div class="loginbtn"  *ngIf="currentPath === ''"> 
                        <button (click)="bookTicket()"  class="btn btn-primary">Book Now</button>
                    </div>
                    <div  class="loginbtn" *ngIf="currentPath === 'dashboard' || currentPath === 'add-promotion' || currentPath === 'promotion-code-list'"> 
                     <button (click)="confirmLogout()"  class="btn btn-primary">Logout</button>
                </div>
                </div>

               
            </div>

        </div>
    </div>
</header>