
.artist-container{padding: 25px 0px 35px;}

.logoscrollbar {
    display: flex;
    gap: 10px; justify-content: center;
    overflow-x: auto;
    flex-wrap: nowrap; /* Prevent wrapping to new line */
    padding: 10px;
    scroll-behavior: smooth;
}

.scrollimg {
    flex: 0 0 19%; /* Each item fixed width */
    border: 1px solid #cecece;
    border-radius: 9px;
    overflow: hidden;
    padding: 20px;
}

.scrollimg img {
    width: 100%;
    display: block;
}

@media only screen and (max-width: 767px) {
    .logoscrollbar {
        display: block;         
        overflow-x: hidden;    
        padding: 0;            
    }

    .scrollimg {
        width: 100%;          
        flex: none;
        padding: 0;            
        margin-bottom: 15px;   
        border: none;          
    }

    .scrollimg img {
        width: 100%;          
        height: auto;          
        display: block;
    }
    img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;  
}

}

@media only screen and (max-width: 767px) {
    .scrollimg {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .scrollimg img {
        width: 100% !important;
        height: auto;
        max-height: 250px;  /* 👈 yeh rakho instead of 100vh */
        object-fit: contain;
    }
}

