
<app-header></app-header>
<app-banner></app-banner>

<section class="artist-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                 <!-- <div class="heading w-100">
                    <h3 class="text-center">Supported by</h3>
                </div>  -->

                <div class="logoscrollbar w-100">
                     <img src="images/logosImage.jpeg">
                    <!-- <div class="scrollimg">
                        <img src="images/logosImage.jpeg">
                    </div> -->
                    <!-- <div class="scrollimg">
                        <img src="images/prime.jpg">
                    </div>
                    <div class="scrollimg">
                        <img src="images/insurance.jpg">
                    </div>
                      <div class="scrollimg">
                        <img src="images/ElgonKenyalogo.jpg">
                    </div>
                    <div class="scrollimg">
                        <img src="images/TAW_LOGO_page.jpg">
                    </div> -->
                    
                    
                </div><!--logoscrollbar-->
            </div><!--col-12-->
        </div><!--row-->
    </div><!--container-->
</section>

<section class="homesection w-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading w-100">
                    <h3>Our Artists</h3>
                </div>

                <div class="artistlisting w-100">
                    <div class="row justify-content-center">

                        <div class="col-md-3">
                            <a href="#">
                                <div class="artistbx w-100">
                                <div class="artistimg w-100">
                                    <img src="images/Swarali Vaze-1.jpg">
                                </div><!--artistimg-->
                                <div class="artist-text w-100">
                                    <h5>Swarali Vaze</h5>
                                    <p>Vocalist</p>
                                </div><!--artist-text-->
                            </div><!--artistb-->
                            </a>
                        </div><!--col-md-4-->


                        <div class="col-md-3">
                            <a href="#">
                                <div class="artistbx w-100">
                                <div class="artistimg w-100">
                                    <img src="images/arshad.jpg">
                                </div><!--artistimg-->
                                <div class="artist-text w-100">
                                    <h5>Arshad Khan</h5>
                                    <p>Esraaj</p>
                                </div><!--artist-text-->
                            </div><!--artistb-->
                            </a>
                        </div><!--col-md-4-->

                        <div class="col-md-3">
                            <a href="#">
                                <div class="artistbx w-100">
                                <div class="artistimg w-100">
                                    <img src="images/yusuf.jpg">
                                </div><!--artistimg-->
                                <div class="artist-text w-100">
                                    <h5>Yusuf Khan </h5>
                                    <p>Octopad/Percussion</p>
                                </div><!--artist-text-->
                            </div><!--artistb-->
                            </a>
                        </div><!--col-md-4-->

                        <div class="col-md-3">
                           <a href="#">
                             <div class="artistbx w-100">
                                <div class="artistimg w-100">
                                    <img src="images/atul.jpg">
                                </div><!--artistimg-->
                                <div class="artist-text w-100">
                                    <h5>Atul Shankar</h5>
                                    <p>Flute</p>
                                </div><!--artist-text-->
                            </div><!--artistb-->
                           </a>
                        </div><!--col-md-4-->

                        <div class="col-md-3">
                            <a href="#">
                                <div class="artistbx w-100">
                                <div class="artistimg w-100">
                                    <img src="images/pritam.jpg">
                                </div><!--artistimg-->
                                <div class="artist-text w-100">
                                    <h5>Pritam Virdee </h5>
                                    <p>Tabla</p>
                                </div><!--artist-text-->
                            </div><!--artistb-->
                            </a>
                        </div><!--col-md-4-->

                        <div class="col-md-3">
                            <a href="#">
                                <div class="artistbx w-100">
                                <div class="artistimg w-100">
                                    <img src="images/nitin.jpg">
                                </div><!--artistimg-->
                                <div class="artist-text w-100">
                                    <h5>Nitin Varsani </h5>
                                    <p>Vocalist & Keyboard Player</p>
                                </div><!--artist-text-->
                            </div><!--artistb-->
                            </a>
                        </div><!--col-md-4-->

                        <div class="col-md-3">
                            <a href="#">
                                <div class="artistbx w-100">
                                <div class="artistimg w-100">
                                    <img src="images/sailesh.jpg">
                                </div><!--artistimg-->
                                <div class="artist-text w-100">
                                    <h5>Sailesh Savani </h5>
                                    <p>Vocalist</p>
                                </div><!--artist-text-->
                            </div><!--artistb-->
                            </a>
                        </div><!--col-md-4-->

                        <div class="col-md-3">
                            <div class="artistbx w-100">
                                <div class="artistimg w-100">
                                    <img src="images/mehul.jpg">
                                </div><!--artistimg-->
                                <div class="artist-text w-100">
                                    <h5>Mehul Savani</h5>
                                    <p>Vocalist</p>
                                </div><!--artist-text-->
                            </div><!--artistb-->
                        </div><!--col-md-4-->
                    </div><!--row-->
                </div><!--artistlisting-->
            </div><!--col-12-->
        </div><!--row-->
    </div><!--container-->
</section>

<app-footer></app-footer>